.models-frame {
  color: black;
  padding: 0;
  margin-top: 5vh;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #060387;
}

.models-frame p {
  margin: 0;
}

.model {
  background-color: #060387;
  width: 150px;
  height: 85px;
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}