.all-ressources {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.articles {
    margin-left: 5px;
}

.articles a {
    color: #4ed7e5;
}

.article1 {
    background-image: url("article1.png");
    color: white;
}

.article2 {
    background-image: url("article2.png");
    color: white;
}

.article3 {
    background-image: url("article2.png");
    color: white;
}

.articles-content {
    align-content: space-around;
    font-size: 16px;
}

.article-image {
    width: 75%;
    margin-top: 15px;
}