@import '../../stylesheets/colors';

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #f9f9f9;
}

h1, h2 {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

p, li {
  font-size: 16px;
}

.App > .container {
  margin-bottom: 20px;
}

.App .verify-email {
  margin-bottom: 0;
  padding: 0;
  border-top: none;
  border-bottom: 1px solid #e7e7e7;
  background: #fff;
  color: $gray-dark;
  border-radius: 0;

  p {
    padding: 19px;
  }

  .btn {
    padding: 0;
  }
}
