h1, h2 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;}

.frames {
    // background-color: #4ed7e5;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: white;
    margin-top: 5vh;
    height: 302px;
}

.ancrage-en-ligne {
    margin-right: 5px;
    background-image: url("offre2.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;    
}

.interfacage {
    margin-left: 5px;
    background-image: url("offre1.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;    
}

.buy-ancres {
    margin-top: 34px;
}

.being-contacted {
    margin-top: 38px;
}

.offers {
    margin-top: 25px;
    margin-left: 0;
}

.price-button {
    background-color: white;
    text-align: center;
    padding: 15px 15px 0 15px;
    color: #0d0629;
    width: 125%;
    border-radius: 0;
}

.price-button:hover {
    outline: solid 2px #4ed7e5;
    outline-offset: -2px;
}

.price-button:focus {
    background-color: #4ed7e5;
    color: white;
    outline: none;
}

.price-button:active:focus {
    background-color: #4ed7e5;
    box-shadow: none;
    outline: none;
}