.dropzone-background {
    background-color: #060387;
    margin-top: 5vh;
  }
  
  .dropzone-text {
    color: white;
    text-align: center;
  }
  
  #dropzone {
    position: relative;
    border: 2px dashed #4ed7e5;
    // border-radius: 20px;
    color: #4ed7e5;
    font: bold 24px/225px "PT Sans";
    height: 200px;
    margin: 30px auto;
    text-align: center;
    width: 200px;
  }
  
  #dropzone.hover {
    border: 10px solid #FE5;
    color: #FE5;
  }
  
  #dropzone.dropped {
    background: #222;
    border: 10px solid #444;
  }
  
  #dropzone div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  #dropzone img {
    border-radius: 10px;
    vertical-align: middle;
    max-width: 95%;
    max-height: 95%;
  }
  
  #dropzone [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }