h1 {
    color: #0d0629;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 50%;
    margin: 0 auto;
}

.homepage-title {
    margin-top: 50px;
    margin-bottom: 100px;
}

.fa-chevron-down {
    color: black;
}

#why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 0 5vh 0;
}

a:hover {
    text-decoration: none;
}

#why h3 {
    margin-bottom: 5vh;
    text-align: center;
}

.ancrage {
    float: left;
    margin: 5px 10px 10px 0;
    width: 25%;
}

.homepage-paragraph {
    margin-bottom: 10px;
}